@model DentalClinicBooking_Project.Models.ViewModels.BookingClinicModels.AppointmentBookingSuccess

@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSuccesfull</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bookingclinic/booksuccesfull.css" rel="stylesheet" />

    <script src="~/js/bookingclinic/determinesessiontime.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>
    <div id="orderContainer" class="container">
        <div class="success-message">
            <svg width="64" height="64" viewBox="0 0 101 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle opacity="0.2" cx="50.5" cy="50" r="50" fill="#86EFAC"></circle>
                <circle cx="50.5" cy="50" r="33.5" fill="#86EFAC" stroke="#22C55E"></circle>
                <path d="M46.871 61.3529L46.8523 61.3342L46.8317 61.3175L35.533 52.1857C35.0814 51.7307 35 51.5171 35 51.3947C35 51.2707 35.0836 51.053 35.5513 50.5853L38.6526 47.484C38.9534 47.1832 39.1711 47.0042 39.3365 46.905C39.4947 46.8101 39.5688 46.8098 39.6006 46.8133C39.6418 46.8179 39.7187 46.8417 39.8659 46.957C40.0162 47.0748 40.1865 47.244 40.4265 47.484L40.4485 47.506L40.4731 47.5251L46.0343 51.8505C46.5518 52.3371 47.4947 52.3246 47.9897 51.6366L60.2086 39.1084C60.4347 38.8824 60.6107 38.7262 60.7589 38.6255C60.9058 38.5257 60.9926 38.5032 61.0435 38.5003C61.1303 38.4955 61.3356 38.5416 61.7992 39.0824L61.8117 39.097L61.8252 39.1106L64.9014 42.1868L64.9194 42.2108C65.1387 42.503 65.2913 42.7064 65.3949 42.8778C65.5026 43.0559 65.5166 43.1362 65.5166 43.1764C65.5166 43.2094 65.5074 43.284 65.3933 43.4475C65.2755 43.6165 65.0804 43.8318 64.7714 44.1408L47.5594 61.3529C47.4859 61.4263 47.3641 61.4887 47.235 61.4986C47.1211 61.5074 46.9952 61.4771 46.871 61.3529Z"
                      fill="white" stroke="#22C55E"></path>
            </svg>
            <h2 class="success-title">Đặt lịch thành công!</h2>
        </div>
        <div class="info-card">
            <div class="info-clinic">
                <div class="clinic-image">
                    <img src="@Model.MainImage" alt="@Model.ClinicName">
                </div>
                <div class="clinic-details">
                    <h3 class="clinic-name">@Model.ClinicName</h3>
                    <p class="clinic-address">@Model.basicAddress</p>
                </div>
            </div>
        </div>
        <div class="info-section">
            <dl class="info-list">
                <div class="info-heading">Thông tin đặt lịch</div>
                <div class="info-row">
                    <dt class="info-title">Mã phiếu khám</dt>
                    <dd class="info-value">@Model.Code</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Ngày</dt>
                    <dd class="info-value">@Model.Date</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Giờ khám</dt>
                    <dd class="info-value green">
                        @Model?.SlotOfClinics?.StartTime.ToString("HH:mm")
                        @*  @(" - ") *@ -
                        @Model?.SlotOfClinics?.EndTime.ToString("HH:mm")
                        <span class="session-time"></span>
                    </dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Chi nhánh</dt>
                    <dd class="info-value">@Model?.BasicName</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Dịch vụ</dt>
                    <dd class="info-value">@Model?.Service</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Tổng chi phí</dt>
                    <dd class="info-value" data-price="@Model?.Price">@Model?.Price.ToString("N0")</dd>
                </div>
            </dl>
            <script>
                // Hàm định dạng giá tiền theo kiểu Việt Nam
                function formatPrice(price) {
                    return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(price);
                }

                $(document).ready(function () {
                    // Định dạng giá tiền khi trang tải xong
                    $('.info-value').each(function () {
                        // Lấy giá từ thuộc tính data-price
                        var price = $(this).data('price');
                        if (price != null) {
                            // Định dạng giá và cập nhật nội dung của phần tử
                            var formattedPrice = formatPrice(price);
                            $(this).text(formattedPrice);
                        }
                    });

                    // Nếu có sự kiện tương tác nào đó, bạn có thể thêm vào đây
                });
            </script>


            <dl class="info-list">
                <p class="info-heading">Thông tin bệnh nhân</p>
                <div class="info-row">
                    <dt class="info-title">Bệnh nhân</dt>
                    <dd class="info-value">@Model?.PatientName</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Ngày sinh</dt>
                    <dd class="info-value">@Model?.BirthDate</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Giới tính</dt>
                    <dd class="info-value">@Model?.Gender</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Địa chỉ</dt>
                    <dd class="info-value">@Model?.PatientAddress</dd>
                </div>
                <div class="info-row">
                    <dt class="info-title">Trạng thái</dt>
                    @if (Model?.Status != null && Model.Status.Equals("Chưa khám"))
                    {
                        <dd class="info-value">
                            <p class="status-text confirmed" style="color:#6B7680; font-size: 16px; font-weight:500; font-size:larger">

                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                     style="margin-bottom: 4px; margin-right: 5px;">
                                    <path d="M10.75 2.45007C11.45 1.86007 12.58 1.86007 13.26 2.45007L14.84 3.80007C15.14 4.05007 15.71 4.26007 16.11 4.26007H17.81C18.87 4.26007 19.74 5.13007 19.74 6.19007V7.89007C19.74 8.29007 19.95 8.85007 20.2 9.15007L21.55 10.7301C22.14 11.4301 22.14 12.5601 21.55 13.2401L20.2 14.8201C19.95 15.1201 19.74 15.6801 19.74 16.0801V17.7801C19.74 18.8401 18.87 19.7101 17.81 19.7101H16.11C15.71 19.7101 15.15 19.9201 14.85 20.1701L13.27 21.5201C12.57 22.1101 11.44 22.1101 10.76 21.5201L9.18001 20.1701C8.88001 19.9201 8.31 19.7101 7.92 19.7101H6.17C5.11 19.7101 4.24 18.8401 4.24 17.7801V16.0701C4.24 15.6801 4.04 15.1101 3.79 14.8201L2.44 13.2301C1.86 12.5401 1.86 11.4201 2.44 10.7301L3.79 9.14007C4.04 8.84007 4.24 8.28007 4.24 7.89007V6.20007C4.24 5.14007 5.11 4.27007 6.17 4.27007H7.9C8.3 4.27007 8.86 4.06007 9.16 3.81007L10.75 2.45007Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M12 8.12988V12.9599" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M11.9945 16H12.0035" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                @Model?.Status
                            </p>
                        </dd>
                    }
                    else
                    {
                        <dd class="info-value">
                            <p class="status-text confirmed" style="color: #22C55E; font-size: 16px; font-weight:500; font-size:larger">
                                <svg _ngcontent-serverapp-c97="" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" xmlns="http://www.w3.org/2000/svg"
                                     style="margin-bottom: 4px; margin-right: 5px;">
                                    <path _ngcontent-serverapp-c97=""
                                          d="M10.75 2.45007C11.45 1.86007 12.58 1.86007 13.26 2.45007L14.84 3.80007C15.14 4.05007 15.71 4.26007 16.11 4.26007H17.81C18.87 4.26007 19.74 5.13007 19.74 6.19007V7.89007C19.74 8.29007 19.95 8.85007 20.2 9.15007L21.55 10.7301C22.14 11.4301 22.14 12.5601 21.55 13.2401L20.2 14.8201C19.95 15.1201 19.74 15.6801 19.74 16.0801V17.7801C19.74 18.8401 18.87 19.7101 17.81 19.7101H16.11C15.71 19.7101 15.15 19.9201 14.85 20.1701L13.27 21.5201C12.57 22.1101 11.44 22.1101 10.76 21.5201L9.18001 20.1701C8.88001 19.9201 8.31 19.7101 7.92 19.7101H6.17C5.11 19.7101 4.24 18.8401 4.24 17.7801V16.0701C4.24 15.6801 4.04 15.1101 3.79 14.8201L2.44 13.2301C1.86 12.5401 1.86 11.4201 2.44 10.7301L3.79 9.14007C4.04 8.84007 4.24 8.28007 4.24 7.89007V6.20007C4.24 5.14007 5.11 4.27007 6.17 4.27007H7.9C8.3 4.27007 8.86 4.06007 9.16 3.81007L10.75 2.45007Z"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path _ngcontent-serverapp-c97="" d="M12 8.12988V12.9599"
                                          stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path _ngcontent-serverapp-c97="" d="M11.9945 16H12.0035"
                                          stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                                @Model?.Status
                            </p>
                        </dd>
                    }
                </div>
            </dl>
        </div>
        <div class="footer-buttons">
            <div class="button-container">
                <a class="view-button"
                   asp-area=""
                   asp-controller="ViewAppointmentSchedule"
                   asp-action="DisplayAppointmentSchedule">Xem phiếu khám</a>
            </div>
        </div>
    </div>
</body>
</html>
