@model List<DentalClinicBooking_Project.Models.Domain.Account>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<title>Quản lý tài khoản</title>
<link href="~/css/admin/showallaccountforadmin.css" rel="stylesheet" />
      <div class="container">
        <div class="page-inner">
          <div class="page-header">
            <ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href="#"> 
                  <img src="https://w7.pngwing.com/pngs/396/146/png-transparent-computer-icons-homepage-angle-logo-desktop-wallpaper-thumbnail.png" alt="Remove Icon" style="width:30px; height:30px; margin-bottom: 3px;">
                  <i class="icon-home"></i>
                </a>
              </li>
              <li class="separator">
                <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/39093/preview.png" alt="Remove Icon" style="width:15px; height:15px;">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item" >
                <a href="#" style="font-size: large;">Tài khoản</a>
              </li>
            </ul>
          </div>
          <div id="content-accounts" class="content-section">
            <h2>Quản Lý Tài Khoản</h2>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Gmail</th>
                  <th>Password</th>
                  <th>Tên đăng nhập</th>
                  <th>Hành Động</th>
                </tr>
              </thead>
              <tbody id="account-list">
                    @if(Model!=null && Model.Any())
                    {
                        foreach (var account in Model)
                        {
                            <tr>
                                <td>@account.AccountId</td>
                                <td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@account.Gmail</td>
                                <td>********</td>
                                <td>@account.UserName</td>
                                <td>
                                    <div class="form-button-action">
                                        <a data-bs-toggle="tooltip" class="btn" asp-area="" asp-controller="Admin" asp-action="UpdateAccountByAdmin" asp-route-id="@account.AccountId" data-dismiss="modal">
                                            <img src="https://icons.veryicon.com/png/o/education-technology/onemind/edit-97.png" alt="Remove Icon" style="width:40px; height:40px;">
                                            <i class="fa fa-times"></i>
                                        </a>
                                        <button type="button" data-bs-toggle="tooltip" title="Edit Task" class="btn-link" data-id="@account.AccountId">
                                            <img src="https://e7.pngegg.com/pngimages/324/861/png-clipart-x-signage-computer-icons-encapsulated-postscript-wrong-miscellaneous-angle-thumbnail.png" alt="Edit Icon" style="width:20px; height:20px;">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    <script>
                        $(document).ready(function () {
                            var accountIdToDelete; // Khai báo biến toàn cục

                            $(document).on('click', '.btn-link', function (event) {
                                event.preventDefault();
                                accountIdToDelete = $(this).data('id'); // Lấy id từ thuộc tính data-id của nút nhấn
                                $('#confirmModal').modal('show'); // Hiển thị modal
                            });
                            $('#closeModal').on('click', function () {
                                $('#confirmModal').modal('hide'); // Ẩn modal
                            });
                            $('#confirmAction').on('click', function (event) {
                                console.log('Hành động đã được xác nhận');
                                window.location.href = '/Admin/DeleteAccount?id=' + accountIdToDelete;
                                $('#confirmModal').modal('hide'); // Ẩn modal sau khi xác nhận
                            });
                        });
                    </script>

                <!-- Modal -->
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 20rem;">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xác nhận hành động</h5>
                      </div>
                      <div class="modal-body">
                        Bạn có chắc chắn muốn thực hiện hành động này không?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" 
                          id="closeModal">Đóng</button>
                        <button type="button" class="btn btn-danger" id="confirmAction">Xác nhận</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tbody>
            </table>
          </div>

        </div>
      </div>