@model DentalClinicBooking_Project.Models.ViewModels.ClinicAndDentist

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HomePage</title>
	<link href="~/css/homepage.css" rel="stylesheet" />
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<section id="main-search" class="relative overflow-hidden ">
		<div class="relative z-20 max-w-7xl mx-auto px-4 py-16 lg:px-6 md:min-h-[520px] flex flex-col justify-center">
			<div>
				<div class="absolute z-0 bottom-0 right-0 typex">
					<img width="676" height="520"
						 src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp" alt="YouMed"
						 class="opacity-40 lg:opacity-100 block entered lazyloaded"
						 data-lazy-src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp"
						 data-ll-status="loaded"><noscript>
						<img width="676" height="520"
							 src="https://cdn.youmed.vn/wp-content/themes/youmed/images/your-medical-booking.webp" alt="YouMed"
							 class="opacity-40 lg:opacity-100 block">
					</noscript>
				</div>
			</div>
			<div class="Search-in">
				<div class="Search information" style="text-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px">
					<h1 class="text-white text-xl md:text-4xl">Ứng dụng đặt khám</h1>
					<p class="text-white1 text-sm md:text-lg mt-2 mb-0">
						Đặt khám với hơn 600 bác sĩ, 25 bệnh viện, 100 phòng khám trên
						YouMed <br />để có số thứ tự và khung giờ khám trước.
					</p>
				</div>


				<form id="searchForm" method="GET" asp-area="" asp-controller="Dentist" asp-action="SearchDentist" class="search-form">
					<div class="search-bar">
						<input name="searchString" type="search" placeholder="Triệu chứng, bác sĩ, bệnh viện..." class="Search" />
						<svg id="searchIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
						</svg>
					</div>
				</form>
				<script>
					document.getElementById('searchIcon').addEventListener('click', function () {
						document.getElementById('searchForm').submit();
					});
				</script>
			</div>
		</div>
		</div>
	</section>

	<div class="container-md">
		<div class="introBookClinic">
			<h2>Đặt lịch khám trực tuyến</h2>
			<p style="text-align: center; white-space: nowrap; display: flex; justify-content: center;">
				Tìm Bác sĩ chính xác - Đặt lịch khám dễ dàng
			</p>
		</div>
	</div>

	<section id="booking-clinics" class="bg-white">
		<div class="container-md">
			<div class="intro">
				<h2 class="intro-heading">Đặt khám phòng khám</h2>
				<p class="intro-paragraph">Đa dạng phòng khám với nhiều chuyên khoa khác nhau như Sản - Nhi, Tai Mũi họng, Da Liễu, Tiêu Hoá...</p>
			</div>
			<div class="clinic-list-wrapper">
				<div class="clinic-list">
					<!-- Clinic items go here -->				
					@foreach (var item in Model.clinicWithAddress)
					{
						<a href="#" class="clinic-item">
							<div class="clinic-info">
								<div class="imgClinic">
									<img style="height:150px;width:250px" src="@item.MainImage;" alt="ảnh phòng khám @item.ClinicName">
								</div>
								<h3>@item.ClinicName</h3>
								<h4>@item.Address</h4>
							</div>
						</a>
					}
				</div>
			</div>
		</div>
	</section>

	<div class="container-md">
		<div class="intro">
			<h2 class="intro-heading" style="margin-top: 3rem;">Đội ngũ chuyên gia</h2>
		</div>
		<div class="profile-section" style="margin-top: 2rem;">
			<div class="info">
				<div class="description">
					<p style="text-align: justify;">
						Hội đồng tham vấn y khoa cùng đội ngũ biên tập viên là các bác sĩ, dược sĩ đảm bảo nội dung chúng tôi cung cấp chính xác về mặt y khoa và cập nhật những thông tin mới nhất.
					</p>
					<a href="#" class="link" style="display: flex; text-align: center; justify-content: center;">
						<p style="margin-bottom: 0 ; margin-right: 0;">Đội ngũ chuyên gia</p>
						<svg width="10" height="10" viewBox="0 0 10 10" aria-hidden="true" class="arrow-icon">
							<g fill-rule="evenodd">
								<path stroke-width="2" stroke="currentColor" fill="none" d="M0 5h8" class="arrow-path"></path>
								<path stroke-width="2" stroke="currentColor" fill="none" d="M1 1l4 4-4 4" class="arrow-head"></path>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="list">
				@foreach (var item in Model.dentistWithClinicName)
				{
					<a asp-area="" asp-controller="Dentist" asp-action="ShowDentistInfo" asp-route-id="@item.DentistId" class="item">
						<div class="photo">
							<img src="@item.Image;aspect_ratio=1:1" alt="ThS.BS Nguyễn Hồng Vân Khánh">
						</div>
						<div class="details">
							<h4>ThS.BS @item.DentistName</h4>
							<p>Phòng khám @item.ClinicName</p>
						</div>
					</a>
				}
			</div>
		</div>
	</div>

</body>

</html>