@model DentalClinicBooking_Project.Models.ViewModels.RegisterVM
@{ 
    var userName = Model?.UserName ?? string.Empty;
    var patientName = Model?.PatientName ?? string.Empty;
    var phone = Model?.Phone ?? string.Empty;
    var address = Model?.Address ?? string.Empty;
    var citizenId = Model?.CitizenIdentificationCard ?? string.Empty;
    var nation = Model?.Nation ?? string.Empty;
    var job = Model?.Job ?? string.Empty;
    var healthInsurance = Model?.HealthInsuranceCardCode ?? string.Empty;
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
          rel="stylesheet" />
    @* <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./../HF/style.css" />
    <link rel="stylesheet" href="./../cssForAllPage/style.css" /> *@
	<link href="~/css/login/login.css" rel="stylesheet" />
	<script src="~/js/login/script.js"></script>
</head>
<body>
    <div class="background"></div>
    <div class="container mx-auto mt-8">
        <div class="flex flex-col md:flex-row items-center justify-center space-x-0 md:space-x-60">
            <div class="w-full md:w-1/3 mb-8 md:mb-0"
                 style="width: 550px; height: 450px">
                <img style="border-radius: 50px; height: 100%; width: 100%"
                     src="https://alonadecor.com/wp-content/uploads/2017/09/alona41-1024x576.jpg"
                     alt="Ảnh phòng khám"
                     class="w-full rounded-md shadow-md" />
            </div>
            <div class="form-container" style="margin-left: 150px">
                @if (ViewData.ModelState.ContainsKey("Fail"))
                {
                    <div class="alert alert-danger">@ViewData.ModelState["Fail"].Errors[0].ErrorMessage</div>
                }
                @if (ViewData.ModelState.ContainsKey("General"))
                {
                    <div class="alert alert-danger">@ViewData.ModelState["General"].Errors[0].ErrorMessage</div>
                }
                @if (ViewData.ModelState.ContainsKey("Success"))
                {
                    <div class="alert alert-success">@ViewData.ModelState["Success"].Errors[0].ErrorMessage</div>
                }
                <!-- regis-form -->
                <form id="register-form" class="register-form active" onsubmit="return saveRegisterForm(event)" style="display: block">
                    <div class="title">Đăng ký</div>
                    <div class="des">
                        Vui lòng điền vào thông tin bên dưới để tạo tài khoản.
                    </div>
                    <div class="group">
                        <span>👤</span>
                        <input type="text" id="username" placeholder="Tên tài khoản" required oninput="checkInput()" value="@userName" asp-for="UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <ion-icon name="mail-outline" style="margin-left:2px"></ion-icon>
                        <input style="margin-left:5px" type="email" id="gmail" placeholder="Gmail" required oninput="checkInput()" asp-for="Gmail" />
                        <span asp-validation-for="Gmail" class="text-danger"></span>
                    </div>
                    
                    
                    <div class="group">
                        <span>🔒</span>
                        <input type="password" id="password" placeholder="Mật khẩu" required oninput="checkInput()" asp-for="Password" minlength="6" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                   @*  <div class="group">
                        <span>🔒</span>
                        <input type="password" id="re-password" placeholder="Xác nhận mật khẩu" required oninput="checkInput()" minlength="6" />
                    </div> *@
         


                   @*  <div class="recovery">
                        <div class="checkbox">
                            <input type="checkbox" id="terms" required onchange="checkInput()" />
                            Accept Terms
                        </div>
                    </div> *@
                    <div class="signIn">
                        <button type="submit" id="nextButton" >Tiếp tục</button>
                    </div>
                </form>


              

                <!-- regis-detail-form -->
                <form id="register-details-form" class="register-details-form" onsubmit="return submitForm()" style="display: none" method="post"
                      asp-area="" asp-action="Register" asp-controller="Login">
                    <div class="title">Đăng ký thông tin</div>
                    <div class="des">Vui lòng điền đầy đủ thông tin chi tiết</div>

                    <input type="hidden" id="hiddenUsername" name="username" asp-for="UserName" />
                    <input type="hidden" id="hiddenPassword" name="password" asp-for="Password" />
                    <input type="hidden" id="hiddenGmail" name="gmail" asp-for="Gmail" />

                    <div class="group">
                        <span>👤</span>
                        <input type="text" id="name" placeholder="Họ và tên" required oninput="checkDetailInput()" value="@patientName"
                               asp-for="PatientName" />
                        <span asp-validation-for="PatientName" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <span>📞</span>
                        <input type="text" id="phone" placeholder="Điện thoại" required oninput="checkDetailInput()" value="@phone"
                               asp-for="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <span>🎂</span>
                        <input type="date" id="birthday" placeholder="Ngày sinh" required onchange="checkDetailInput()" asp-for="BirthDay" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <span style="margin-left:6px">⚥</span>
                        <select id="gender" required onchange="checkDetailInput()" 
                                asp-for="Gender" >
                            <option value="">Giới tính</option>
                            <option value="true">Nam</option>
                            <option value="false">Nữ</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <span>🏠</span>
                        <input type="text" id="address" placeholder="Địa chỉ" requiredoninput="checkDetailInput()" value="@address"
                               asp-for="Address" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="group">
                        <span>🆔</span>
                        <input type="text" id="citizenId" placeholder="Số CMND/CCCD" oninput="checkDetailInput()" value="@citizenId"
                               asp-for="CitizenIdentificationCard" />
                    </div>
                    <div class="group">
                        <span>🌍</span>
                        <input type="text" id="nation" placeholder="Dân tộc" oninput="checkDetailInput()" value="@nation"
                               asp-for="Nation" />
                    </div>
                    <div class="group">
                        <span>💼</span>
                        <input type="text" id="job" placeholder="Nghề nghiệp" oninput="checkDetailInput()" value="@job"
                               asp-for="Job" />
                    </div>
                    <div class="group">
                        <span>🏥</span>
                        <input type="text" id="healthInsurance" placeholder="Mã BHYT" oninput="checkDetailInput()" value="@healthInsurance"
                               asp-for="HealthInsuranceCardCode" />
                    </div>
                   @*  <div class="recovery">
                        <div class="checkbox">
                            <input type="checkbox"
                                   id="terms-detail"
                                   onchange="checkDetailInput()" />
                            Accept Terms
                        </div>
                    </div> *@
                    <div class="signIn">
                        <button type="submit" id="registerButton" disabled>
                            Hoàn thành
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./script.js"></script>

</body>
</html>



