@model List<DentalClinicBooking_Project.Models.Domain.Basic>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact1</title>
	<link href="~/css/contact/showbasiccontact.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <section id="top" class="bg-gradient">
        <div class="container-md1 flex-container">
            <div class="content">
                <h1 class="title">
                    Liên hệ ngay - Chọn SunShine ngay!<br class="line-break">
                </h1>
                <p class="subtitle">Chủ động video call với các bác sĩ mọi lúc, mọi nơi.</p>
                <div class="doctor-info">
                    <div class="doctor-images">
                        <img src="https://cdn.youmed.vn/photos/3e400fb3-0a41-4686-9a3a-8b01e488a367.png" alt="Doctor 1"
                             class="doctor-img">
                        <img src="https://cdn.youmed.vn/photos/1bd8ca79-9e6d-46fb-9b64-3d2a7cc736f2.jpg" alt="Doctor 2"
                             class="doctor-img">
                        <img src="https://cdn.youmed.vn/photos/10882d42-34b8-4632-b0ef-67f42706fa19.jpg" alt="Doctor 3"
                             class="doctor-img">
                    </div>
                    <div class="doctor-status hidden-status">
                        <span class="status-ping"></span>
                        <span class="status-dot"></span>
                    </div>
                    <p class="doctor-text" style="display: contents;">
                        200+ bác sĩ SunShine sẵn sàng giúp bạn
                    </p>
                </div>
            </div>
            <div class="image-container">
                <img src="https://cdn.youmed.vn/wp-content/themes/youmed/images/main-tele.svg" alt="Telemedicine"
                     class="main-image">
            </div>
        </div>
    </section>

    <div class=" " style="max-width: 10000px; padding: 0 0; background: linear-gradient(to bottom, #00C6FB, #0758D8);">
        <!-- Search Service Banner -->
        <div class="banner-bg container-md" style="max-width: 1600px;  position: sticky; top: 0; z-index: 1000;">
            <div class="banner-container">
                <div class="">
                    <a routerlink="./dat-kham" class="appointment-button" asp-area="" asp-controller="Contact" asp-action="ChooseClinicContact" style="margin-left: -20rem;"> Trở lại </a>
                </div>
                <form novalidate action="." class="search-form">
                    <input type="search" formcontrolname="query" placeholder="Tìm theo phòng khám..."
                           class="search-input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="search-icon" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
                        </path>
                    </svg>
                </form>

            </div>
        </div>

        <!-- Speciality List -->
        <div class="speciality-container">
            <div class="speciality-list">
                <app-speciality-list>
                    <div class="speciality-grid">
                        <nz-collapse nzghost class="collapse-container">
                            <nz-collapse-panel nzshowarrow="false" nzactive class="collapse-panel">
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </app-speciality-list>
            </div>
        </div>
    </div>



    <div class="container-md">
        <div class="introBookClinic">
            <h2>Liên hệ phòng khám</h2>
            <p style="text-align: center; white-space: nowrap; display: flex; justify-content: center;">
                Đặt khám dễ dàng và tiện lợi hơn với các phòng khám cùng nhiều chuyên khoa
            </p>
        </div>
    </div>

    <div class="m-maps">
        <div class="wrapper">
            @if(Model!= null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="m-maps_item">
                        <div class="maps-info">
                            <h2 class="title">@item.BasicName</h2>
                            <address>Địa chỉ: @item.Address</address>
                            <p class="phone">Điện thoại: @item.Phone</p>
                        </div>
                        <div class="maps-iframe">
                            @Html.Raw(@item.LinkAddress)
                        </div>
                    </div>
                }
            }  
        </div>
    </div>

</body>



</html>